html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#editor{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  font-size: 16px;
  line-height: 1.5;
}

#viewer{
  position: absolute;
  left: 50%;
  height: 100vh;
  width: 50%;
}
