@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#editor{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
}

#viewer{
  position: absolute;
  left: 70%;
  height: 100vh;
  width: 30%;
}
